html {
    font-size: 16px;
    font-family: 'Montserrat', sans-serif;
}
body {
    margin:auto;
}

a {
    text-decoration: none;
}

.front_page {
    position: relative;
    display: grid;
    width: 100%;
    min-width: 780px;
    grid-template-columns: 3.9% 11.3% 14.4% 70.4%;
    margin: 0 auto;
    border: none;
    gap: 0;
    position: relative;
}

.kid_image {
    grid-column: 1/4;
}

.logo{
    grid-column: 2/3;
}

.nav {
    grid-column: 4/5;
    display: flex;
    justify-content: center;
    gap: 70px;
}

.nav_box {
    width: 80px;
    display: flex;
    justify-content: center;
    height: 5.125rem;
    margin-top: -4.5rem;
    background-position: center;
    background-repeat: no-repeat;
}

.nav_box:hover {
    margin-top: 0;
    transition: ease-in .4s;
}

.nav_box1 {
    background-color: #135EAC;
    background-image: url(./imgs/Component\ 2\ –\ 1.png);
}

.nav_box3 p{
    margin-right: -1rem;
}

.nav_box p {
    font-size: 14px;
    text-align: center;
    color: #135EAC;
    font-weight: 900;
    padding-top: 5px;
    margin-top: 5.9375em;
}

.nav_box2 {
    background-color: #FCB42C;
    background-image: url(./imgs/Group\ 548.png);
}

.nav_box3 {
    background-image: url(./imgs/Group\ 570.png);
    background-color: #1AAC4F;
}

.nav_box3 p {
    margin-left: -1.15rem;
    white-space: nowrap;
}

.nav_box4 {
    background-image: url(./imgs/Group\ 574.png);
    background-color: #02AEEF;
}

.title {
    margin-left: 40%;
    font-size: 3rem;
    position: absolute;
    margin-top: 15.875rem;
    color: lightgray;
    font-weight: 900;
    height: 9.625rem;
    line-height: .8;
    width: 26.25rem;
}
.title span {
    color: #1AAC4F;
    font-size: 26px;
    margin-top: -2rem;
}

#big {
    font-size: 3rem;
}

.text_bar {
    position: absolute;
    grid-column: 6; 
    background-color: #1AAC4F;
    margin-left: 45%;
    top: 29.75rem;
    width: 0.75rem;
    height: 12.5rem;
}

.title_p {
    top: 28.25rem;
    position: absolute;
    line-height: 1.75;
    margin-left: 50%;
    width: 23.2rem;
}

.video_box {
    height: 46.75rem;
    width: 100%;
    background: #F5F5F5;
    display: flex;
    justify-content: center;
    align-items: center;
}

.container {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    background-color: #1AAC4F;
    height: 693.18px;  
    background-image: url(./imgs/IMG_0487.png);
    background-position: right;
    background-repeat: no-repeat;
}
.feat {
    background: white;
    height: 450px;
    width: 644px;
    align-self: center;
    margin-right: 21rem;
}

.feat h2 {
    color: #135EAC;
    font-weight: bold;
    margin: 3.75rem;
    line-height: 1.5;
    font-size: 21px;
    margin-top: 3rem;
}

.feat p {
    margin-top: -3rem;
    margin-left: 3.75rem;
    margin-right: 3rem;
    line-height: 1.6;
    width: 33rem;
}

#p2 {
    margin-top: 0;
}

.TWB {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 3rem;
    margin-top: -3rem;
}

.TWB_title {
    width: 670px;
    height: 325px;
}
.TWB_title h2{
    font-size: 60px;
    color:#135EAC;
    font-weight: 900;
}

.TWB_title h2 span {
    font-size: 5rem;
    color: #1AAC4F;
}

.TWB_title p {
    margin-top: -1rem;
    line-height: 1.7;
    width: 75%;
}

.TWB_title p span {
    color: #135EAC;
    font-weight: 700;
}

.paint {
    margin-top: 15rem;
    
}

.TWB_img {
    background-repeat: no-repeat;
    background-position: center;
    width: 100%;
    height: 500px;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: .75rem;
    margin-top: 5rem;
}

#today {
    background-image: url(./imgs/IMG_0378.png);
}

.TWB_big {
    font-size: 6rem;
    color: #1AAC4F;
    margin-top: -10rem;
}

.TWB_p {
    height: 436px;
    color: white;
    width: 725px;
}

.TWB_img p {
    margin-top: 5rem;
    font-size: 2rem;
    font-weight: 900;
}

#p3 {
    margin-top: 1.5rem;
}

.clr_box {
    height: 276px;
    background-color: #1AAC4F;
}

.pics {
    display: flex;
    justify-content: center;
    gap: 1rem;
    margin-top: -12rem;
    z-index: 2;
}

.pics_p {
    margin-left: auto;
    margin-right: auto;
    text-align: center;
    width: 45%;
    margin-top: 2rem;
}


.SC_con {
    height: 42.125rem;
    width: 100%;
    border-top: 3px solid #1AAC4F;
    margin-top: 100px;
}
.SC {
    text-align: center;
    margin-left: auto;
    margin-right: auto;
    justify-self: center;
    color: #135EAC;
    font-size: 24px;
    font-weight: 900;
    text-transform: uppercase;
    z-index: 2;
    margin-top: -3rem;
    padding: .5rem;
    background-color: white;
    width: 13rem;
}

.SC_p {
    text-align: center;
    width: 46rem;
    margin-left: auto;
    margin-right: auto;
}

.new_web {
    width: 100%;
    display: flex;
    justify-content: center;
}

.new_p {
    text-align: left;
    padding: 5rem;
    background-color: #135EAC;
    height: 237px;
    color: white;
    width: 480px;
}

.new_p h2 {
    font-weight: 900;
    font-size: 20px;
}

.new_p p {
    width: 22rem;
    line-height: 1.75;
}

.new_p button {
    color: #135EAC;
    background-color: white;
    padding: .35rem 1rem;
    border: 2px solid #1AAC4F;
    border-radius: 1rem;
    margin-top: 2rem;
    font-weight: 500;
}

.new_p button:hover {
    background-color: #1AAC4F;
    color: white;
    transition: ease-in-out .15s;
}

.bp_con {
    height: 9rem;
    width: 100%;
    border-top: 3px solid #1AAC4F;
    margin-top: 100px;
}
.bp {
    text-align: center;
    margin-left: auto;
    margin-right: auto;
    color: #135EAC;
    font-size: 24px;
    font-weight: 900;
    z-index: 2;
    margin-top: -3rem;
    padding: .5rem;
    background-color: white;
    width: 13rem;
}

.bp_p {
    text-align: center;
    width: 50%;
    margin-left: auto;
    margin-right: auto;
}

.blogs {
    width: 100%;
    height: 515px;
    background-color: #F5F5F5;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: nowrap;
    gap: 1rem;
}

.col {
    display: flex;
    flex-direction: column;
    gap: 1rem;
}

.blog_link {
    width: 29.875rem;
    height: 8rem;
    background-color: white;
    color: #135EAC;
    font-weight: 600;
    border-bottom: 5px solid #1AAC4F;
    background-position: left;
    background-repeat: no-repeat;
}

.blog_link a {
    display: flex;
    align-items: center;
    text-decoration: none;
    color: #135EAC;
}

.blog_link p {
    width: 50%;
    margin-right: auto;
    line-height: 1.5;
}

.blog_link img {
    margin-right: 1.5rem;
}

#we {
    background-image: url(./imgs/IMG_0315.png);
}

#we p {
    margin-top: 3rem;
    width: 50rem;
}

#swag_con {
    height: 10rem;
    border-top: 3px solid rgba(128,128,128,.5);
}
#swag {
    width: 8rem;
}

#swag_p {
    width: 35rem;
    line-height: 1.5;
    margin-left: auto;
    margin-right: auto;
}

.swag_pics {
    margin-left: auto;
    margin-right: auto;
    text-align: center;
    margin-top: 3.5rem;
}

.bottom_nav{
    display: flex;
    justify-content: center;
    gap: 4rem;
    margin-top: auto;
    overflow: hidden;
    padding-top: 7rem;
}

.navbox {
    height: 5.125rem;
    width: 6.5rem;
    font-size: 18px;
    font-weight: 900;
    color: #135EAC;
    text-transform: uppercase;
    display: flex;
    position: relative;
    bottom: -4.5rem;
    z-index: 2;
    background-position: center;
    background-repeat: no-repeat;
}

.navbox:hover {
    bottom: 0;
    transition: ease-in-out .4s;
}

.navbox a {
    color: #135EAC;
}

.navbox p {
    position: absolute;
    text-align: center;
    bottom: 4rem;
}

.u4nav {
    background-color: #135EAC;
    background-image: url(./imgs/Component\ 2\ –\ 1.png);
}


.stratnav {
    background-color: #FCB42C;
    background-image: url(./imgs/Group\ 548.png);
}

.ghnav {
    background-color: #1AAC4F;
    background-image: url(./imgs/Group\ 570.png);
}

.ghnav p {
    white-space: nowrap;
    margin-left: -1.15rem;
}

.franknav {
    background-color: #02AEEF;
    background-image: url(./imgs/Group\ 574.png);
}