@media (max-width:800px) {

    .html,body{
        overflow-x: hidden;
    }

    .front_page{
        margin: 0 auto;
        display: grid;
        grid-template-rows: 600px  550px;
        grid-column: 100%;
        width: auto;
        height: auto;
        position: relative;
    }


    .kd_img {
        left: 0%
    }

    img.kid_img {
        width: 277px;
        height: auto;
    }

    .logo {
        position: absolute;
    }

    a {
        text-decoration: none;
    }

    .nav {
        display: flex;
        flex-direction: column;
        gap: 50px;
        align-items: flex-end;
        position: absolute;
        right: 0;
        margin-top: 30px;
    }

    .nav_box {
        width: 82px;
        height: 82px;
        background-position: center;
        background-repeat: no-repeat;
        margin-right: -73px;
        display: flex;
        justify-content: center;
    }

    .nav_box:hover{
        margin-right: 0;    
        transition: ease-in-out .3s;
    }

    
    .nav_box1 {
        background-color: #135EAC;
        background-image: url(./imgs/Component\ 2\ –\ 1.png);
    }
    
    .nav_box p {
        font-size: 14px;
        text-align: center;
        color: #135EAC;
        font-weight: 900;
        padding-right: 5px;
    }
    
    .nav_box2 {
        background-color: #FCB42C;
        background-image: url(./imgs/Group\ 548.png);
    }
    
    .nav_box3 {
        background-color: #1AAC4F;
        background-image: url(./imgs/Group\ 570.png);
    }
    
    .nav_box3 p {
        margin-left: -1rem;
        white-space: nowrap;
    }
    
    .nav_box4 {
        background-image: url(./imgs/Group\ 574.png);
        background-color: #02AEEF;
    }

    .nav_box1 p {
        margin-top: -10px;
        
    }
    
    .nav_box p {
        margin-right: 200px;
        margin-top: 27px;
    }


    .title {
        grid-row: 2/3;
        margin: auto;
    }

    .text_bar{
        grid-row: 2/3;
        margin: auto;
    }

    .title_p {
        grid-row: 2/3;
        margin: auto;
    }


    .title {
        font-size: 3rem;
        position: absolute;
        color: lightgray;
        font-weight: 900;
        height: 9.625rem;
        line-height: .9;
        margin-top: 30px;
        margin-left: 36px;
        height: 9.625rem;
        width: 26.25rem;
    }

    .title img {
        height: 9.625rem;
        width: 26.25rem;
    }
    .title span {
        color: #FCB42C;
        font-size: 26px;
    }
    
    #big {
        font-size: 3rem;
    }
    .text_bar {
        position: absolute;
        background-color: #1AAC4F;
        width: 0.75rem;
        height: 220px;
        margin-left: 36px;
        margin-top: 245px;
    }
    
    
    .title_p {
        line-height: 2;
        margin-top: 220px;
        text-align: left;
        margin-left: 80px;
        width: 350px;
    }

    .video img {
        width: 100%;
        height: auto;
    }

    .container {
        margin-top: 80px;
        display: flex;
        justify-content: center;
        align-items: center;
        width: 100%;
        background-color: #1AAC4F;
        height: 1074px;  
        background-image: url(./imgs/IMG_0487.png);
        background-position: top;
        background-repeat: no-repeat;
        background-size: 600px 350px ;
    }
    .feat {
        background: white;
        height: 680px;
        width: 340px;

    }
    
    .feat h2 {
        font-size: 1.3125rem;
        color: #135EAC;
        font-weight: bold;
        margin: 25px;
    }
    
    .feat p {
        margin: auto;
        line-height: 1.8;
        margin: 25px;        
    }
    
    #p2 {
        margin-top: 25px;
    }

    .TWB {
        margin-top: 50px;
        margin-left: auto;
        margin-right: auto;
        width: 340px;
        height: 450px;
    }
    
    .TWB_title {
        width: 340px;
    }

    .TWB_title h2{
        font-size: 30px;
        color:#135EAC;
        font-weight: 900;
    }
    
    .TWB_title h2 span {
        font-size: 40px;
        color: #1AAC4F;
    }
    
    .TWB_title p {
        line-height: 2;
    }
    
    .TWB_title p span {
        color: #135EAC;
        font-weight: 700;
    }
    .spacer {
        height: calc(100% - 200px);
        width: 0px;
        float: right;
    }

    .paint {
        float: right;
        clear: right;
        margin-left: 20px;
    }
    
    .paint img {
        width: 122px;
        height: 110px;
    }

    .TWB_img {
        background-image: url(./imgs/IMG_0378.png);
        background-repeat: no-repeat;
        background-position: center;
        background-size: auto 700px;
        height: 590px;
        width: 100%;
        display: flex;
        justify-content: center;
        align-items: center;
    }
    
    .TWB_img p span {
        font-size: 32px;
        font-weight: 900;
    }
    

    .TWB_p p{
        color: white;
        font-size: 28px;
        font-weight: 900;
        line-height: 1.5;
        width: 350px;
        margin-top: 150px; 
    }

    .TWB_p h3 {
        color: white;
    }

    #p3 {
        margin-top: -25px;
    }

    .TWB_big {
        position: absolute;
        font-size: 120px;
        color: #1AAC4F;
        margin-top: -20rem;
        margin-left: -17rem;
    }

    .clr_box {
        width: 35%;
        height: 550px;
        background-color: #1AAC4F;
    }
    
    .pics {
        display: flex;
        justify-content: center;
        flex-direction: column;
        align-items: center;
        gap: 1rem;
        margin-top: -500px;
        z-index: 2;
    }

    .pics div img {
        width: 320px;
        height: auto;
    }
    
    .pics_p {
        margin-left: auto;
        margin-right: auto;
        text-align: center;
        width: 330px;
        margin-top: 5rem;
        line-height: 1.5;
    }
    
    .SC_con {
        height: 42.125rem;
        width: 100%;
        border-top: 3px solid #1AAC4F;
        margin-top: 100px;
    }
    .SC {
        text-align: center;
        margin-left: auto;
        margin-right: auto;
        justify-self: center;
        color: #135EAC;
        font-size: 24px;
        font-weight: 900;
        text-transform: uppercase;
        z-index: 2;
        margin-top: -3rem;
        padding: .5rem;
        background-color: white;
        width: 13rem;
    }
    
    .SC_p {
            text-align: center;
            width: 75%;
            margin-left: auto;
            margin-right: auto;
            line-height: 1.7;
    }

    .new_web {
        width: 100%;
        display: flex;
        justify-content: center;
        flex-direction: column;
    }
    
    .web_pic img{
        width: 100%;
        height: auto;
    }
    
    .new_p {
        text-align: left;
        padding: 10%;
        background-color: #135EAC;
        height: 300px;
        width: 100%;
        color: white;
        margin-top: -5px;
    }
    
    .new_p h2 {
        font-weight: 900;
        font-size: 24px;
    }
    
    .new_p p {
        width: 22rem;
        line-height: 2;
    }
    
    .new_p button {
        color: #135EAC;
        background-color: white;
        padding: .35rem 1rem;
        border: 2px solid #1AAC4F;
        border-radius: 1rem;
        margin-top: 2rem;
        font-weight: 500;
    }
    
    .new_p button:hover {
        background-color: #1AAC4F;
        color: white;
        transition: ease-in-out .15s;
    }  

.bp_con {
    width: 100%;
    border-top: 3px solid #1AAC4F;
    margin-top: 100px;
}
.bp {
    text-align: center;
    margin-left: auto;
    margin-right: auto;
    color: #135EAC;
    font-size: 24px;
    font-weight: 900;
    z-index: 2;
    margin-top: -3rem;
    padding: .5rem;
    background-color: white;
    width: 13rem;
}

.bp_p {
    text-align: center;
    width: 50%;
    margin-left: auto;
    margin-right: auto;
}

.blogs {
    margin-top: 50px;
    width: 100%;
    background-color: #F5F5F5;
    display: flex;
    padding: 40px 0;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    flex-wrap: nowrap;
    gap: 1rem;
}

.blog_p {
    width: 104px;
    height: 91px;
}

.col {
    display: flex;
    flex-direction: column;
    gap: 1rem;
}

.blog_link {
    width: 340px;
    height: 91px;
    background-color: white;
    color: #135EAC;
    font-weight: 600;
    border-bottom: 5px solid #1AAC4F;
    background-position: left;
    background-repeat: no-repeat;
}

.blog_link a {
    display: flex;
    align-items: center;
    text-decoration: none;
    color: #135EAC;
}

.blog_link p {
    width: 50%;
    margin-right: auto;
    font-size: 14px;
}

.blog_link img {
    margin-right: 1.5rem;
}


#we {
    background-image: url(./imgs/IMG_0315.png);
    background-repeat: no-repeat;
    background-position: center;
    background-size: auto 800px;
}

#we .TWB_big {
    margin-top: -380px;
    font-size: 100px;
}

#we .TWB_p p{
    line-height: 1;
}

#swag_con {
    height: 10rem;
    border-top: 3px solid rgba(128,128,128,.5);
}
#swag {
    width: 8rem;
}

#swag_p {
    width:50%;
    line-height: 1.5;
    margin-left: auto;
    margin-right: auto;
}

.swag_pics {
    margin-left: auto;
    margin-right: auto;
    text-align: center;
    margin-top: 3.5rem;
    display: flex;
    flex-direction: column;
    gap: 25px;
}

.swg_img {
    width: 341px;
    height: 100%;
}

.bottom_nav{
    display: flex;
    justify-content: center;
    gap: 2rem;
    margin-top: 2rem;
    overflow: hidden;
    padding-top: 7rem;
}

.navbox {
    height: 74px;
    width: 74px;
    font-size: 18px;
    font-weight: 900;
    color: #135EAC;
    text-transform: uppercase;
    display: flex;
    position: relative;
    bottom: -66px;
    z-index: 2;
    background-position: center;
    background-repeat: no-repeat;
}

.navbox:hover {
    bottom: 0;
    transition: ease-in-out .4s;
}

.navbox a {
    color: #135EAC;
}

.navbox p {
    position: absolute;
    text-align: center;
    bottom: 2rem;
    padding-bottom: 2rem;
    margin-left: -8px;
}

.u4nav {
    background-color: #135EAC;
    background-image: url(./imgs/Component\ 2\ –\ 1.png);
}


.stratnav {
    background-color: #FCB42C;
    background-image: url(./imgs/Group\ 548.png);
}

.ghnav p {
    margin-left: -5px;
}

.ghnav {
    background-color: #1AAC4F;
    background-image: url(./imgs/Group\ 570.png);
}

.franknav {
    background-color: #02AEEF;
    background-image: url(./imgs/Group\ 574.png);
}
}